@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}
.background {
    stroke-width: 7.5;
    fill: none;
}
.overlayLine {
    fill: none;
    stroke-width: 7.5;
    animation: dash 2s linear forwards;
}
@font-face{
    font-family: "myRoboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: "titleRoboto";
    src: url("fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf")
}
@media screen and (min-width: 840px) {
    body{
        font-family: 'myRoboto';
        font-style: normal;
        font-weight: normal;
    }
    #titleWrapper{
        margin: 15px 91px 25px 91px;
    }
    #title, #titleStatus{
        font-family: "titleRoboto";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: rgba(0, 0, 0, 0.86);
    }
    #totalVisitors{
        font-size: 16px;
        line-height: 19px;
        color: #666666;
        margin-top: 6px;
        margin-bottom: 30px;
    }
    .stat{
        height: 56px;
    }
    .statImage{
        height: 23px;
        width: 23px;
        margin: 20px 30px 20px 94px;
        vertical-align: middle;
    }
    #parkingStat{
        background-color: #507282;
        color: white;
        font-size: 16px;
    }
    #eastEntranceStat{
        background-color: #C9AC68;
        color: white;
        font-size: 16px;
    }
    #southEntranceStat{
        background-color: #CDBD97;
        color: white;
        font-size: 16px;
    }
    #yesterdayWrapper{
        width: 384px;
        margin: 0 auto;
        margin-top: 100px;
    }
    table{
        width: 384px;
        font-size: 16px;
        line-height: 19px;
        font-weight: normal;
        margin-top: 20px;
    }
    td, th{
        border-bottom: 1px solid #E5E7DE;
    }
    td{
        height: 50px;
        vertical-align: middle;
    }
    th{
        text-align: left;
        font-weight: bold;
    }
    .right{
        text-align: right;
    }
    #yesterdayEntrances{
        margin-top: 15px;
    }
    #svg{
        position: absolute;
        top: 18%;
        left: 72%;
        width: 250px;
        height: 250px;
    }
    #svgContainer{
        width: 100%;
    }

    /* ----------------- Parking Page ----------------------- */
    .visitorButtonContainer, .ETIButtonContainer{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-left: 24px;
        text-align: center;
        margin-bottom: 15px;
        display: inline-block;
        width: 100px;
        height: auto;
    }
    .overflowButtonContainer, .ETOButtonContainer, .RButtonContainer{
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        display: inline-block;
    }
    .ETIButtonContainer, .ETOButtonContainer, .RButtonContainer{
        width: 150px;
    }
    .visitorButton, .overflowButton{
        width: 100%;
        height: 48px;
    }
    .ETIButton, .ETOButton, .RButton{
        width: 100%;
        height: 48px;
    }
    .parkButtons{
        color: #507282;
    }
    .entranceButtons{
        color: #C9AC68;
    }
    .parkButtonsfocus{
        border-bottom: 2px solid #507282;
    }
    .entranceButtonsfocus{
        border-bottom: 2px solid #C9AC68;
    }
    #parkingWrapper{
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
    }
    #entranceStats{
        width: 95%;
        margin-left: 24px;
    }
}