<!DOCTYPE html>
<html>

  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>Parkdata Dashboard</title>
		<link rel="stylesheet" type="text/css" href="vuetify.min.css">
		<link rel="stylesheet" type="text/css" href="dashboard.css">
		<link rel="apple-touch-icon" sizes="180x180" href="images/favicon.ico">
		<link rel="icon" type="image/png" sizes="192x192" href="./images/favicon.ico">
		<link rel="icon" type="image/png" sizes="512x512" href="./images/favicon.ico">
		<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
  </head>
	<body>
		<div id="app">
			<v-app>
				<v-content>
					<div v-if="MainPage=='Login' ">
						<div> <!-- App bar for login page -->
							<v-app-bar dense>
								<v-toolbar-title id="loginTitle" v-on:click="MainPage='Login' "><img class="bison" src="images/blueBison.svg">Parkdata</v-toolbar-title>
								<v-spacer></v-spacer>
								<v-btn text color="#507282" id="requestAccessButton" v-on:click="MainPage='requestAccess' ">Request Access</v-btn>
								<v-btn text color="#507282" id="loginButton" v-on:click="MainPage='loggingIn' ">Login</v-btn>
							</v-app-bar>
						</div>
						<div id="loginWrapper">
							<img id="loginImage" src="images/background medium.png">
							<button id="requestAccess" v-on:click="MainPage='requestAccess'">Request Access</button>
						</div>
						<div id="researchTextWrapper">
							<h3 id="researchTitle">For Research Purposes Only</h3>
							<span>No warranty is made by DSU, SUU or the National Park Service as to the accuracy or reliability of this Data. By entering you are agreeing to the terms and conditions of this site.</span><br>
							<span>This Site contains information which may be confidential and/or privileged. If you are not specifically authorized to access this site, be aware that any disclosure, copying, distribution or use of the contents of this site is strictly prohibited by law.</span>
						</div>
						<div id="logosWrapper">
							<div class="column">
								<img id="dsuLogo">
							</div>
							<div class="column">
								<img id="iicLogo">
							</div>
							<div class="column">
								<img id="suuLogo">
							</div>
						</div>
					</div>
					
					<div v-if="MainPage=='requestAccess'">
						<div> <!-- App bar for request access page -->
							<v-app-bar dense>
								<v-toolbar-title id="loginTitle" v-on:click="MainPage='Login' "><img class="bison" src="images/blueBison.svg">Parkdata</v-toolbar-title>
								<v-spacer></v-spacer>
								<v-btn text color="#507282" id="requestAccessButton" v-on:click="MainPage='requestAccess' ">Request Access</v-btn>
								<v-btn text color="#507282" id="loginButton" v-on:click="MainPage='loggingIn' ">Login</v-btn>
							</v-app-bar>
						</div>
						<div class="formWrapper">
							<div class="loginTitles">Request Access</div>

							<div v-if="nameEmpty" v-bind:class="{nameError: nameEmpty}">Your Name</div>
							<input class="inputs" v-bind:class="{name: nameEmpty}" v-model="nameField" placeholder="Your Name" type="name">
							<div v-if="nameEmpty" v-bind:class="{nameReq: nameEmpty}">Required</div>

							<div v-if="emailEmpty" v-bind:class="{emailError: emailEmpty}">Your Email</div>
							<input class="inputs" v-bind:class="{email: emailEmpty}" v-model="emailField" placeholder="Your Email" type="email">
							<div v-if="emailEmpty" v-bind:class="{emailReq: emailEmpty}">Required</div>

							<textarea rows="10" maxlength="500" v-model="messageField" class="inputsMessage" placeholder="Message" type="message"></textarea>
							<button class="submitButton" v-on:click="sendClicked">Send</button>
						</div>

					</div>

					<div v-if="MainPage=='loggingIn'">
						<div> <!-- App bar for logging in page -->
							<v-app-bar dense>
								<v-toolbar-title id="loginTitle" v-on:click="MainPage='Login' "><img class="bison" src="images/blueBison.svg">Parkdata</v-toolbar-title>
								<v-spacer></v-spacer>
								<v-btn text color="#507282" id="requestAccessButton" v-on:click="MainPage='requestAccess' ">Request Access</v-btn>
								<v-btn text color="#507282" id="loginButton" v-on:click="MainPage='loggingIn' ">Login</v-btn>
							</v-app-bar>
						</div>
						<div class="formWrapper">
							<div class="loginTitles">Login</div>

							<div v-if="usernameEmpty" v-bind:class="{usernameError: usernameEmpty}">Username</div>
							<input class="inputs" v-bind:class="{username: usernameEmpty}" v-model="usernameField" placeholder="Username" type="text">
							<div v-if="usernameEmpty" v-bind:class="{usernameReq: usernameEmpty}">Invalid Username</div>

							<div v-if="passEmpty" v-bind:class="{passError: passEmpty}">Password</div>
							<input class="inputs" v-bind:class="{pass: passEmpty}" v-model="passField" placeholder="Password" type="text">
							<div v-if="passEmpty" v-bind:class="{passReq: passEmpty}">Invalid Password</div>
							
							<button class="submitButton" v-on:click="loginClicked">Login</button>
						</div>

					</div>

					<div v-if="MainPage=='Home' ">
						<div> <!-- App bar for main page -->
							<v-app-bar dense>
								<v-toolbar-title id="loginTitle" class="homeTitle d-none d-sm-flex" v-on:click="MainPage='Home'; statRefresh();"><img class="bison" src="images/blueBison.svg">Parkdata - Zion National Park</v-toolbar-title>
								<v-toolbar-title class="d-xs-flex d-sm-none">Parkdata</v-toolbar-title>
								<v-spacer></v-spacer>
								<v-btn class="d-none d-sm-flex" text color="#507282" v-on:click="MainPage='Parking'; resetPages()">Parking</v-btn>
								<v-btn class="d-xs-flex d-sm-none" text color="#507282" v-on:click="MainPage='Parking'; resetPages()">
									<img src="icons/parking_outline_blue.svg" alt="">
								</v-btn>
								<!-- drop down for Entrances -->
								<v-menu offset-y>
									<template v-slot:activator="{ on }">
									  <v-btn class="d-none d-sm-flex" color="#C9AC68" text v-on="on">Entrances</v-btn>
									  <v-btn class="d-xs-flex d-sm-none" color="#C9AC68" text v-on="on">
										  <img src="icons/kolob_outline_yellow.svg" alt="">
									  </v-btn>
									</template>
									<v-list>
									  <v-list-item
										v-for="(enterance, index) in Entrances" :key="index" v-on:click="MainPage='Entrances'; EntrancePage=enterance ">
										<v-list-item-title>{{ enterance }}</v-list-item-title>
									  </v-list-item>
									</v-list>
								</v-menu>
								<!-- <v-btn text color="#507282" v-on:click="logoutClicked(); resetPages();">Log Out</v-btn> -->
							</v-app-bar>
						</div>

						<div id="titleWrapper">
							<div id="totalVisitors">{{totalVisitors}} Visitors in 2019</div>
							<div id="title">Today: {{todaysDate}}</div>
							<div id="titleStatus">{{titleStatus}}</div>
						</div>
						<div class="stat" id="parkingStat">
							<div class="statWrapper">
								<img class="statImage" src="icons/parking_outline.svg">
								<span>Parking: {{parkingStat}}% Full</span>
							</div>
						</div>
						<div class="stat" id="eastEntranceStat">
							<div class="statWrapper">
								<img class="statImage" src="icons/east_entrance_outline.svg">
								<span>East Entrance: {{eastEntranceStat}}</span>
							</div>
						</div>
						<div class="stat" id="southEntranceStat">
							<div class="statWrapper">
								<img class="statImage" src="icons/south_entrance_outline.svg">
								<span>South Entrance: {{southEntranceStat}}</span>
							</div>
						</div>
						<div id="svgContainer">
							<svg id="svg" viewBox="50 54 100 100">
								<circle cx="100" cy="100" r="46" style="stroke: white; fill: white;"/> 
								<text x="86" y="104" id="currentTemp" font-size="9" font-weight="bold" style="fill: #507282">{{currentTemp}}&#176;</text><image x="102" y="94" width="14" height="14" v-bind:href="weatherImage"></image>
								<circle class="background" cx="100" cy="100" r="26" stroke="#F5F2EA" />
								<circle class="background" cx="100" cy="100" r="34" stroke="#eddfbb" />
								<circle class="background" cx="100" cy="100" r="42" stroke="#DCE3E6" />
								<circle id="line1" class="overlayLine" cx="100" cy="100" r="26" stroke="#CDBD97" stroke-dasharray="0, 3000" stroke-dashoffset="126" transform="rotate(-90,100,100)" />
								<circle id="line2" class="overlayLine" cx="100" cy="100" r="34" stroke="#C9AC68" stroke-dasharray="0, 3000" stroke-dashoffset="188" transform="rotate(-90,100,100)" />
								<circle id="line3" class="overlayLine" cx="100" cy="100" r="42" stroke="#507282" stroke-dasharray="0, 3000" stroke-dashoffset="251" transform="rotate(-90,100,100)" />
							</svg>
						</div>
						<div id="yesterdayWrapper">
							<div id="title" class="yesterdayTitle">Yesterday: {{yesterdaysDate}}</div>
							<div id="titleStatus" class="yesterdayTitleStatus"></div>
							<table id="yesterdaysEntrances">
								<tr>
								<th>Entrance</th>
								<th class="right">Vehicles</th>
								<th class="right">People</th>
								<th class="right smallHide">Date Updated</th>
								</tr>
								<tr>
								<td>South</td>
								<td class="right">{{SVehicles}}</td>
								<td class="right">{{SPeople}}</td>
								<td class="right smallHide">{{SDateUpdated}}</td>
								</tr>
								<tr>
								<td>East</td>
								<td class="right">{{EVehicles}}</td>
								<td class="right">{{EPeople}}</td>
								<td class="right smallHide">{{EastDateUpdated}}</td>
								</tr>
								<tr>
								<td>River</td>
								<td class="right">{{riverVehicles}}</td>
								<td class="right">{{riverPeople}}</td>
								<td class="right smallHide">{{RiverDateUpdated}}</td>
								</tr>
								<tr>
								<td class="gold">Canyon Total</td>
								<td class="right"></td>
								<td class="right gold">{{yesterdayCanyonTotal}}</td>
								<td class="right gold smallHide">{{SDateUpdated}}</td>
								</tr>
								<tr>
								<td>Kolob</td>
								<td class="right">{{kolobVehicles}}</td>
								<td class="right">{{kolobPeople}}</td>
								<td class="right smallHide">{{KolobDateUpdated}}</td>
								</tr>
								<tr>
								<td class="gold">Zion Total</td>
								<td class="right"></td>
								<td class="right gold">{{yesterdayZionTotal}}</td>
								<td class="right gold smallHide">{{SDateUpdated}}</td>
								</tr>
							</table>
						</div>
					</div>

					<!-- PARKING PAGES -->

					<div v-if="MainPage=='Parking' ">
						<!-- App bar -->
						<v-card>
							<div class="d-inline">
								<div class="d-none d-sm-inline-flex">
									<p v-on:click="MainPage='Home'; statRefresh();" class="ml-6 titles" ><img class="bison" src="images/blueBison.svg">Parkdata - Zion National Park</p>
								</div>
								<div class="d-xs-flex d-sm-none d-inline">
									<p v-on:click="MainPage='Home'; statRefresh();" class="d-inline ml-6 titles">Parkdata</p>
								</div>
								
								<div class="float-right  d-inline-flex">
									<!-- <v-btn v-on:click="MainPage='Parking'; resetPages()"text color="#507282" class="d-inline">Parking</v-btn> -->
									<v-btn class="d-none d-sm-flex mt-7" text color="#507282" v-on:click="MainPage='Parking'; resetPages()">Parking</v-btn>
									<v-btn class="d-xs-flex d-sm-none mt-3" text color="#507282" v-on:click="MainPage='Parking'; resetPages()">
										<img src="icons/parking_outline_blue.svg" alt="">
									</v-btn>

									<v-menu offset-y>
										<template v-slot:activator="{ on }">
											<!-- <v-btn color="#C9AC68" text v-on="on">Entrances</v-btn> -->
											<v-btn class="d-none d-sm-flex mt-7" color="#C9AC68" text v-on="on">Entrances</v-btn>
											<v-btn class="d-xs-flex d-sm-none mt-3" color="#C9AC68" text v-on="on">
												<img src="icons/kolob_outline_yellow.svg" alt="">
											</v-btn>
										</template>
										<v-list>
											<v-list-item v-for="(enterance, index) in Entrances" :key="index" v-on:click="MainPage='Entrances'; EntrancePage=enterance ">
												<v-list-item-title>{{ enterance }}</v-list-item-title>
											</v-list-item>
										</v-list>
									</v-menu>
								</div>
							</div>
								<div class="tabs">
									<div class="visitorButtonContainer">
										<button class="visitorButton parkButtons" :class="{parkButtonsfocus: visitor_selected}" @click="visitorSelected">VISITOR LOT</button>
									</div>
									<div class="overflowButtonContainer">
										<button class="overflowButton parkButtons" :class="{parkButtonsfocus: overflow_selected}" @click="overflowSelected">OVERFLOW LOT</button>
									</div>
								</div>
							
						</v-card> 

						<!-- End App bar -->

						<div v-if="visitor_selected">
							
							<!-- <div id="parkingWrapper">
								<p class="parkingInfo" >Parking Visitor Lot</p>
							</div>
									
							<table id="parkingWrapper">
								<tr> 
									<th>
									<v-menu offset-y>
									<template v-slot:activator="{ on }">
										<v-btn class="ml-n4" color="#507282" text v-on="on">{{todaysDate}} </v-btn>
									</template>
									<v-list>
										<v-list-item v-for="(previousDate, index) in previousDates" :key="index" v-on:click="date=previousDate ">
											<v-list-item-title>{{ previousDate }}</v-list-item-title>
										</v-list-item>
									</v-list>
									</v-menu>
									</th>
								</tr> -->
							<iframe id="parkingApi" src="https://trailwaze.info/zion/parking_date.php#"></iframe>				
						</div>
						<!-- We will have to figure out a way to dynamically fill this data based off dates -->

						<div v-if="overflow_selected">
							<div class="d-flex justify-center mt-5">
								<p class="parkingInfo">Parking Overflow Lot N/A</p>
							</div>
							<table id="parkingWrapper">
								<tr>
								<th>Time</th>
								<th class="right">Occupancy Pct(%)</th>
								</tr>
							</table>
						</div>
					</div> 

					<!-- ENTRANCE PAGES -->

					<div v-if="MainPage=='Entrances' ">
						<!-- App bar -->
						<v-card> 
							<p v-on:click="MainPage='Home'; statRefresh();" class="d-inline ml-6 titles"><img class="bison" src="images/blueBison.svg">Parkdata - Zion National Park</p>
							<div class="d-inline float-right mt-3">
								<v-btn v-on:click="MainPage='Parking'; resetPages()"text color="#507282" class="d-inline">Parking</v-btn>
								<v-menu offset-y>
									<template v-slot:activator="{ on }">
										<v-btn color="#C9AC68" text v-on="on">Entrances</v-btn>
									</template>
									<v-list>
										<v-list-item v-for="(enterance, index) in Entrances" :key="index" v-on:click="MainPage='Entrances'; EntrancePage=enterance ">
											<v-list-item-title>{{ enterance }}</v-list-item-title>
										</v-list-item>
									</v-list>
								</v-menu>
							</div>
							<div v-if="EntrancePage!='East'" class="tabs">
								<div class="ETIButtonContainer">
									<button class="ETIButton entranceButtons" :class="{entranceButtonsfocus: ETI_selected}" @click="ETISelected">CAMERA IN</button>
								</div>
								<div class="ETOButtonContainer">
									<button class="ETOButton entranceButtons" :class="{entranceButtonsfocus: ETO_selected}" @click="ETOSelected">CAMERA OUT</button>
								</div>
								<div class="RButtonContainer">
									<button class="RButton entranceButtons" :class="{entranceButtonsfocus: R_selected}" @click="RSelected">RADAR</button>
								</div>
								<div class="SButtonContainer">
									<button class="SButton entranceButtons" :class="{entranceButtonsfocus: S_selected}" @click="SSelected">STATES</button>
								</div>
							</div>
							<div v-if="EntrancePage=='East'" class="tabs">
								<div class="ETIButtonContainer">
									<button class="ETIButton entranceButtons" :class="{entranceButtonsfocus: ETI_selected}" @click="ETISelected">CAMERA IN</button>
								</div>
								<div class="ETOButtonContainer">
									<button class="ETOButton entranceButtons" :class="{entranceButtonsfocus: ETO_selected}" @click="ETOSelected">CAMERA OUT</button>
								</div>
								<div class="ETOButtonContainer">
									<button class="ETOButton entranceButtons" :class="{entranceButtonsfocus: Ratio_selected}" @click="ratioSelected">IN/OUT RATIO</button>
								</div>
								<div class="RButtonContainer">
									<button class="RButton entranceButtons" :class="{entranceButtonsfocus: R_selected}" @click="RSelected">RADAR</button>
								</div>
								<div class="SButtonContainer">
									<button class="SButton entranceButtons" :class="{entranceButtonsfocus: S_selected}" @click="SSelected">STATES</button>
								</div>
							</div>
						</v-card> 
						<!-- End App bar -->

						<div v-if="ETI_selected">
							<div v-if="EntrancePage=='South'">
								<iframe class="radarCharts" src="https://trailwaze.info/vehicleTrafficStats.php"></iframe>
							</div>
							<div v-if="EntrancePage=='East'">
								<iframe class="radarCharts" src="https://trailwaze.info/vehicleTrafficStats.php?site=zioneastin"></iframe>
							</div>
							<div v-if="EntrancePage=='River'">
								<h3 class="noData">No Camera Data</h3>
							</div>
							<div v-if="EntrancePage=='Kolob'">
								<h3 class="noData">No Camera Data</h3>
							</div>
						</div>

						<div v-if="ETO_selected">
							<div v-if="EntrancePage=='South'">
								<iframe class="radarCharts" src="https://trailwaze.info/vehicleTrafficStats.php"></iframe>
							</div>
							<div v-if="EntrancePage=='East'">
								<iframe class="radarCharts" src="https://trailwaze.info/vehicleTrafficStats.php?site=zioneastout"></iframe>
							</div>
							<div v-if="EntrancePage=='River'">
								<h3 class="noData">No Camera Data</h3>
							</div>
							<div v-if="EntrancePage=='Kolob'">
								<h3 class="noData">No Camera Data</h3>
							</div>
						</div>

						<div v-if="Ratio_selected">
							<div v-if="EntrancePage=='East'">
								<iframe class="radarCharts" src="https://trailwaze.info/zion/inOut_east.php"></iframe>
							</div>
						</div>
						
						<div v-if="R_selected" class="mb-9 iframeContainer">
							<div v-if="EntrancePage=='South'">
								<iframe class="radarCharts" src="https://trailwaze.info/zion/radar_monthly.php"></iframe>
							</div>
							<div v-if="EntrancePage=='East'">
								<h3 class="noData">No Radar Data</h3>
							</div>
							<div v-if="EntrancePage=='River'">
								<h3 class="noData">No Radar Data</h3>
							</div>
							<div v-if="EntrancePage=='Kolob'">
								<iframe class="radarCharts" src="https://trailwaze.info/kolob/daily.php"></iframe>
							</div>
						</div>

						<div v-if="S_selected">
							<div v-if="EntrancePage=='South'">
								<h3 class="noData">No State Data</h3>
							</div>
							<div v-if="EntrancePage=='East'">
								<iframe class="radarCharts" src="https://trailwaze.info/vehicleTrafficByState.php?site=zioneastin&interval=yesterday"></iframe>
							</div>
							<div v-if="EntrancePage=='River'">
								<h3 class="noData">No State Data</h3>
							</div>
							<div v-if="EntrancePage=='Kolob'">
								<h3 class="noData">No State Data</h3>
							</div>
							<div v-if="EntrancePage=='Canyon Junction'">
								<iframe class="radarCharts" src="https://trailwaze.info/vehicleTrafficByState.php?site=canyonjct&interval=1days"></iframe>
							</div>
						</div>
					
						
						
					</div>
				</div>
				</v-content>
			</v-app>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
		<script src="dashboard.js"></script>
	</body>
</html>
